$light-color: white;
$dark-color: black;
$primary-font-family: sans-serif;
$secondary-font-family: "Avenir Next";

.app-container {
  // max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.black-bg {
  background-color: #000000;
  color: white;
}

.blue-bg {
  background-color: #00B0F0;
  color: white;
}

.brand-pink {
  color: #ff4ffe;
}

.center-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.feature-set {
  display: flex;
  flex-direction: column;
}

.feature-set > * {
  background: linear-gradient(90deg ,#11ffbd, #aaffa9);
  border-radius: 8px;
  border: 1px solid #4a4a10;
  padding: 10px;
  margin-top: 40px;
  width: 85%;
  // -webkit-box-orient: vertical;
  // -webkit-box-direction: normal;
}

.feature-set > *:nth-child(even) {
  align-self: flex-end;
}

.main-content-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;

  .content-block {
    width: 80%;
  }

  @media(max-width:768px) {
    .content-block {
      width: 100%;
    }
  }
}

.no-child-margin > * {
  margin: 0;
}

.orange-bg {
  background: linear-gradient(180deg,#f2f9f8,#e4be78)
}

.text-small {
  font-size: 0.6em;
}
